@import '../../../node_modules/normalize.css/normalize.css';

@import '../variables.scss';

/*
 * Base styles
 * ========================================================================== */

*{
    margin: 0;
    padding: 0;
    outline: 0!important;
    list-style: none;
    resize: none;
}
[type='submit'], button{cursor:pointer;}


textarea, input, button{
    font-family: inherit;
}

@font-face {
    font-family: 'black';
    src: url('/fonts/Roboto-Black.eot');
    src: local('☺'), url('/fonts/Roboto-Black.woff') format('woff'), url('/fonts/Roboto-Black.ttf') format('truetype'), url('/fonts/Roboto-Black.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

img{
    max-width: 100%;
    -webkit-user-drag: none;
}
a:hover{text-decoration: none;}
table{border-collapse:collapse;}

body{
    font-size: 15px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
    font-weight: 300;
}

:global{
    .container {
        max-width: 960px;
        padding: 0 30px;
    }
    .iblock{display:inline-block;}
    .left{float:left;}
    .right{float:right;}
    .relative{position:relative;}
    .aright{text-align:right;}
    .aleft{text-align:left;}
    .acenter{text-align:center;}
    .mgt0{
        margin-top: 0!important;
    }
    .mgt10{
        margin-top: 10px!important;
    }
    .mgt15{
        margin-top: 15px;
    }
    .mgt20{
        margin-top: 20px;
    }
    .mgt30{
        margin-top: 30px;
    }
    .mgt35{
        margin-top: 35px;
    }
    .mgt40{
        margin-top: 40px;
    }
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/*
 * Browser upgrade prompt
 * ========================================================================== */

:global(.browserupgrade) {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*
 * Print styles
 * Inlined to avoid the additional HTTP request:
 * http://www.phpied.com/delay-loading-your-print-css/
 * ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: ' (' attr(href) ')';
  }

  abbr[title]::after {
    content: ' (' attr(title) ')';
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */

  a[href^='#']::after,
  a[href^='javascript:']::after {
    content: '';
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
