.main_nav{
    float: right;
    clear: right;
    li{
        float: left;
        margin-left: 27px;
        height: 45px;
        margin-top: -2px;
        a{
            color: #fff;
            line-height: 20px;
            &.active, &:hover{
                color: #c7531d;
                text-decoration: underline;
            }
        }
    }
}

@media (min-width: 992px){
    .main_nav{
        display: block!important;
    }
}
@media (max-width: 991px){
    .main_nav{
        display: none;
        text-align: right;
        margin-top: 20px;
        margin-bottom: 42px;
        li{
            float: none;
        }
    }
}